/*
*
*	Site Styles
*	This file contains the styles for the project. It imports the JumpStart base.less file.
*
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - base
*	02 - layout
*	03 - module
*	04 - stats
*	05 - theme
*
*
*/
/*
* 
* 
*	SaaSquatch JumpStart Base Less file: This file acts as a loading dock for all of the important less files. It also defines the base font values for the project and creates CSS consistency using an adaptation from http://necolas.github.com/normalize.css/
* 	JumpStart is an adaptation of:
*	Golden Grid System (created by Joni Korpi http://goldengridsystem.com/)
* 
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - imports
*	02 - consistency fixes
*	03 - simple fluid media
*	04 - zoomable baseline font sizes
* 
* 
*/
/*
* 
* 
*	SaaSquatch JumpStart Variable Less file: This contains all of the vital variables.
* 	JumpStart is an adaptation of:
*	Golden Grid System (created by Joni Korpi http://goldengridsystem.com/)
* 
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - page gutter and em definition
*	02 - default sizes
*	03 - colors
*		03-a base colors
*		03-b grays - has elements that need to be addressed each project
*		03-c project specific colors - has elements that need to be addressed each project
*	04 - font(s) - needs to be changed per project
* 
* 
*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
* 
* 
*	SaaSquatch JumpStart Mixin Less file: This contains all of the mixins. This is a living document and should be updated with new mixins or current mixins should be edited to work better within our work flow.
* 	JumpStart is an adaptation of:
*	Golden Grid System (created by Joni Korpi http://goldengridsystem.com/)
* 
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - layout
*		01-a width mixin
*		01-b spacing
*	02 - styles
*		02-a rounded corners
*		02-b shadows
*		02-c gradient stack
*		02-d font stack
*		02-e misc
*	03 - CSS animations
*	04 - example btn stack - needs to be changed per project
* 
* 
*/
/*	column widths - this sets a fluid elements width. for use with containing elements
*	----------------------------------------------------------------
*	1column		= 8.333%
*	2columns	= 16.666%
*	3columns	= 25%
*	4columns	= 33.333%
*	5columns	= 41.666%
*	6columns	= 50%
*	7columns	= 58.333%
*	8columns	= 66.666%
*	9columns	= 75%
*	10columns	= 83.333%
*	11columns	= 91.666%
*	12columns	= 100%
*	
*/
.btn,
.btn--blue {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
  display: block;
  padding: 0 1em;
  background-color: #e73636;
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.15)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0)";
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  line-height: 2.6999999999999997em;
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.15);
  color: #520a0a;
  -webkit-box-shadow: 0.0625em 0.0625em 0 rgba(0, 0, 0, 0.25), -0.0625em -0.0625em 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0.0625em 0.0625em 0 rgba(0, 0, 0, 0.25), -0.0625em -0.0625em 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0.0625em 0.0625em 0 rgba(0, 0, 0, 0.25), -0.0625em -0.0625em 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
.btn:visited {
  color: #ffffff !important;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
.btn:hover {
  background-color: #d21919;
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.2)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0)";
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  color: #320606;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
.btn:active {
  background-color: #bb1616;
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.25)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0)";
  background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  color: #1b0303;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  transition: all 0.15s;
}
.btn:first-child {
  margin: 0;
}
.btn--blue {
  background-color: #3686e7;
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.15)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0)";
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  color: #0a2a52;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.15);
}
/*
* 
* 
*	SaaSquatch JumpStart Grid Less file: This contains the grid and should not be changed.
* 	JumpStart is an adaptation of:
*	Golden Grid System (created by Joni Korpi http://goldengridsystem.com/)
* 
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - float container
*	02 - display container inline-block
*	03 - display container block
*	04 - set container width, padding and border-box
*	05 - offset container
* 
* 
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-transition: all 0.618s linear;
  -moz-transition: all 0.618s linear;
  -ms-transition: all 0.618s linear;
  transition: all 0.618s linear;
}
body {
  min-height: 100%;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
figure {
  position: relative;
}
figure img,
figure object,
figure embed,
figure video {
  max-width: 100%;
  display: block;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
body {
  font-size: 1em;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
li {
  text-rendering: optimizeLegibility;
}
/*
*	size values based on @base being 16. These vaules will change at various breakpoints for larger viewports
*	@1px	- 1
*	@tiny	- 8
*	@xsml:	- 10.667
*	@sml:	- 13
*	@med:	- 16
*	@lrg:	- 24
*	@xl:	- 36
*	@2xl:	- 54
*	@3xl:	- 81
*	@4xl:	- 121.5
*	@5xl:	- 182.25
*/
.five-xl {
  font-size: 11.391em;
  line-height: 1;
  margin: 0 0 0.2962865420068475em;
}
.four-xl {
  font-size: 7.594em;
  line-height: 1;
  margin: 0 0 0.44442981301027124em;
}
.three-xl {
  font-size: 5.063em;
  line-height: 1;
  margin: 0 0 0.4444005530317994em;
}
.two-xl {
  font-size: 3.375em;
  line-height: 1;
  margin: 0 0 0.2962670353545329em;
}
h1,
.xl {
  font-size: 2.25em;
  line-height: 1.2;
  margin: 0 0 0.6666666666666666em;
}
h2,
.large {
  font-size: 1.5em;
  line-height: 1.2;
  margin: 0 0 0.6666666666666666em;
}
h3,
h4,
h5,
h6,
.medium {
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 1em;
}
p {
  margin: 0 0 1em;
}
p:last-child {
  margin: 0;
}
.small {
  font-size: 0.8125em;
  line-height: 1.231em;
  margin: 0 0 1.2307692307692308em;
}
.xsmall {
  font-size: 0.667em;
  line-height: 1.3em;
  margin: 0 0 1.4992503748125936em;
}
.owl-carousel {
  zoom: 1;
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-perspective: 1000;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controlls .owl-page,
.owl-controlls .owl-buttons div {
  cursor: pointer;
}
.owl-controlls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
#m-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}
.owl-theme .owl-controlls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controlls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controlls.clickable .owl-buttons div:hover {
  opacity: 1;
  text-decoration: none;
}
/* Styling Pagination*/
.owl-theme .owl-controlls .owl-page {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-controlls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}
.owl-theme .owl-controlls .owl-page.active span,
.owl-theme .owl-controlls.clickable .owl-page:hover span {
  opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controlls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* below color styles are for development purposes only
--------------------------------------------------  */
.original-colors,
.less-colors {
  display: block;
  zoom: 1;
}
.original-colors:after,
.less-colors:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.original-colors > div,
.less-colors > div {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
}
.original-colors .color1 {
  background: #e8824f;
}
.original-colors .color2 {
  background: #4e9ce4;
}
.original-colors .color3 {
  background: #52d176;
}
.original-colors .color4 {
  background: #283139;
}
.original-colors .color5 {
  background: #404f59;
}
.original-colors .color6 {
  background: #627884;
}
.original-colors .color7 {
  background: #859faa;
}
.original-colors .color8 {
  background: #b3c4c9;
}
.original-colors .color9 {
  background: #d0e1e5;
}
.original-colors .color10 {
  background: #fcfffd;
}
.original-colors .color11 {
  background: #ffffff;
}
.less-colors .color1 {
  background: #e8824f;
}
.less-colors .color2 {
  background: #3686e7;
}
.less-colors .color3 {
  background: #52d176;
}
.less-colors .color4 {
  background: #101213;
}
.less-colors .color5 {
  background: #282b2f;
}
.less-colors .color6 {
  background: #4d4f51;
}
.less-colors .color7 {
  background: #6a6d71;
}
.less-colors .color8 {
  background: #8f9399;
}
.less-colors .color9 {
  background: #d1dae5;
}
.less-colors .color10 {
  background: #dbe2eb;
}
.less-colors .color11 {
  background: #ffffff;
}
/* 01 - base
--------------------------------------------------  */
body {
  background: #282b2f;
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
  color: #282b2f;
}
@media screen and (min-width: 88em) {
  body {
    font-size: 1.125em;
  }
}
@media screen and (min-width: 100em) {
  body {
    font-size: 1.1875em;
  }
}
@media screen and (min-width: 130em) {
  body {
    font-size: 1.25em;
  }
}
header,
article,
footer,
section,
aside,
div,
button,
form,
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.25em;
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
h1 {
  color: #ffffff;
  text-shadow: 0 0.0625em 0 #000000;
  text-align: center;
}
a,
a:visited {
  color: #3686e7;
  text-decoration: underline;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
a:hover,
a:visited:hover {
  color: #64a1ed;
  text-decoration: none;
}
a:active,
a:visited:active {
  color: #7bafef;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
header {
  position: relative;
}
nav {
  margin: 1.5em 0;
  zoom: 1;
}
nav:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
ol {
  list-style: none;
}
/* 02 - layout
--------------------------------------------------  */
.l-full-wrapper,
.l-full-wrapper--no-padding,
.l-full-wrapper--small-padding {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
  width: 100%;
  padding: 1.5em 7.142857142857143%;
  margin: 0;
  zoom: 1;
  border-bottom: 0.0625em solid #101213;
  /*	900px	(900/16=56.25) */

}
.l-full-wrapper:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
@media screen and (min-width: 56.25em) {
  .l-full-wrapper,
  .l-full-wrapper--no-padding,
  .l-full-wrapper--small-padding {
    padding: 3.375em 7.142857142857143%;
  }
}
@media screen and (min-width: 88em) {
  .l-full-wrapper,
  .l-full-wrapper--no-padding,
  .l-full-wrapper--small-padding {
    max-width: 88em;
    margin: 0 auto;
  }
}
.l-full-wrapper--no-padding {
  zoom: 1;
  border: 0.0625em solid #101213;
  border-width: 0.0625em 0 0;
  /*	840px	(840/16=52.5)	*/

}
.l-full-wrapper--no-padding:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
@media screen and (min-width: 52.5em) {
  .l-full-wrapper--no-padding {
    padding: 0;
  }
}
.l-full-wrapper--small-padding {
  zoom: 1;
  /*	900px	(900/16=56.25) */

}
.l-full-wrapper--small-padding:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
@media screen and (min-width: 56.25em) {
  .l-full-wrapper--small-padding {
    padding: 1.5em 7.142857142857143%;
  }
}
.l-mod-group {
  zoom: 1;
  margin: 0 0 1.5em;
  /*	600px	(600/16=37.5)	*/

}
.l-mod-group:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
@media screen and (min-width: 37.5em) {
  .l-mod-group {
    margin: 0 0 2.25em;
  }
}
.l-relative {
  position: relative;
}
.l-stacked {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.l-stacked > li {
  display: block;
}
.l-stacked > a {
  display: block;
}
.l-right {
  float: right;
}
.l-left {
  float: left;
}
.l-inline {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  zoom: 1;
}
.l-inline:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.l-inline > a,
.l-inline > li {
  float: left;
  display: inline-block;
}
/* 03 - module
--------------------------------------------------  */
.m-header {
  background: #ffffff;
}
.logo {
  float: right;
  width: 9.5em;
  height: 5em;
  margin: 0;
  font-size: 1em;
}
@media screen and (min-width: 49em) {
  .logo {
    float: left;
  }
}
.logo > a {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../img/logo.svg) no-repeat 0 0;
  text-indent: -999em;
  text-decoration: none;
}
#nav-js,
#nav-js ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
#nav-js > li,
#nav-js ul > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
  float: left;
  width: 100%;
  display: 100%;
}
#nav-js.opened,
#nav-js ul.opened {
  max-height: 9999px;
}
.js #nav-js {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  top: 1em;
  display: block;
  margin: 0 0 1em;
  overflow: hidden;
  zoom: 1;
}
@media screen and (min-width: 49em) {
  .js #nav-js {
    float: right;
    position: relative;
    width: auto;
    margin: .4em 0;
  }
  .js #nav-js.closed {
    max-height: none;
  }
}
#nav-toggle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
  display: inline-block;
  position: relative;
  margin: 1.5em 0 0;
  width: 2.25em;
  height: 1.5em;
  background: #ffffff;
  text-indent: -9999em;
  border: 0.25em solid #6a6d71;
  border-width: 0.25em 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#nav-toggle:before {
  content: '';
  position: absolute;
  top: 0.375em;
  display: block;
  width: 2.25em;
  height: 0.25em;
  background: #6a6d71;
}
#nav-toggle:hover {
  border-color: #3686e7;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
#nav-toggle:hover:before {
  background: #3686e7;
}
#nav-toggle:active {
  border-color: #11498d;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
#nav-toggle:active:before {
  background: #11498d;
}
@media screen and (min-width: 49em) {
  #nav-toggle {
    display: none;
  }
}
.m-signup {
  width: 100%;
  margin: 0.5em 0 0;
}
@media screen and (min-width: 25em) {
  .m-signup {
    margin: 0.8125em 0 0;
  }
}
.m-signup > .btn--blue {
  margin: 0 auto;
  text-align: center;
}
.m-signup__title {
  color: #3686e7;
  text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.3);
}
.m-signup__input {
  width: 100%;
  height: 2.25em;
  margin: 0 0 0.8125em;
  padding: 0 0.5em;
  line-height: 2.25em;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.m-nav {
  border: 0.0625em solid #dbe2eb;
}
@media screen and (min-width: 49em) {
  .m-nav {
    border: none;
  }
}
.m-nav > li {
  height: 2.25em;
  padding: 0 0 0 0.5em;
  line-height: 2.25em;
  border-top: 0.0625em solid #dbe2eb;
}
.m-nav > li:first-child {
  border-top: none;
}
@media screen and (min-width: 49em) {
  .m-nav > li {
    border-top: none;
    display: inline-block !important;
    width: auto !important;
  }
}
.m-nav > li > a,
.m-nav > li > a:visited {
  color: #8f9399;
  text-decoration: none;
}
.m-nav > li > a:hover,
.m-nav > li > a:visited:hover {
  color: #3686e7;
}
.m-nav > li > a:active,
.m-nav > li > a:visited:active {
  border-bottom: 0.0625em solid #64a1ed;
  color: #64a1ed !important;
}
@media screen and (min-width: 49em) {
  .m-nav > li > a,
  .m-nav > li > a:visited {
    margin: 0 0 0 1.5em;
    padding: 0 0.8125em;
    border-bottom: 0.0625em solid rgba(255, 255, 255, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  .m-nav > li > a:hover,
  .m-nav > li > a:visited:hover {
    border-bottom: 0.0625em solid #3686e7;
  }
  .m-nav > li > a:active,
  .m-nav > li > a:visited:active {
    border-bottom: 0.0625em solid #64a1ed;
  }
}
.m-nav > li > a:first-child,
.m-nav > li > a:visited:first-child {
  margin: 0;
}
.m-nav--slideshow {
  margin: 0 auto;
  padding: 0.5em 0.667em;
  background: #8f9399;
  -webkit-box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.3);
  zoom: 1;
}
.m-nav--slideshow:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.m-nav--slideshow .is-active {
  background: #e9354a;
  border-color: rgba(0, 0, 0, 0.5);
}
.m-nav--share {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  display: none;
}
@media screen and (min-width: 49em) {
  .m-nav--share {
    position: absolute;
    top: 0;
    right: 7.142857142857143%;
    display: block;
    padding: 0.375em 0.667em;
    background: #dbe2eb;
  }
}
.m-nav__title {
  float: left;
  margin: 0 0.667em 0 0;
  padding: 0.07692307692307693em 0 0;
  font-size: 0.8125em;
  line-height: 1.5em;
  color: #6a6d71;
}
.m-nav__link,
.m-nav__link--email,
.m-nav__link--email:visited,
.m-nav__link--tweet,
.m-nav__link--tweet:visited,
.m-nav__link--facebook,
.m-nav__link--facebook:visited {
  width: 1em;
  height: 1em;
  margin-left: 0.667em;
  background: #6a6d71;
  border: 0.0625em solid #4d4f51;
  text-decoration: none;
  font-size: 1em;
  line-height: 0;
  text-indent: -9999em;
  color: #ffffff;
}
.m-nav__link:first-child,
.m-nav__link--email:first-child,
.m-nav__link--email:visited:first-child,
.m-nav__link--tweet:first-child,
.m-nav__link--tweet:visited:first-child,
.m-nav__link--facebook:first-child,
.m-nav__link--facebook:visited:first-child {
  margin-left: 0;
}
.m-nav__link:hover,
.m-nav__link--email:hover,
.m-nav__link--email:visited:hover,
.m-nav__link--tweet:hover,
.m-nav__link--tweet:visited:hover,
.m-nav__link--facebook:hover,
.m-nav__link--facebook:visited:hover {
  color: #ffffff;
}
.m-nav__link:active,
.m-nav__link--email:active,
.m-nav__link--email:visited:active,
.m-nav__link--tweet:active,
.m-nav__link--tweet:visited:active,
.m-nav__link--facebook:active,
.m-nav__link--facebook:visited:active {
  color: #ffffff;
}
.m-nav__link--email,
.m-nav__link--email:visited {
  padding: 0.125em;
  text-indent: 0;
  background: #8661ff;
  border: 0.0625em solid #5f2eff;
}
.m-nav__link--email:hover,
.m-nav__link--email:visited:hover {
  background: #ad94ff;
}
.m-nav__link--email:active,
.m-nav__link--email:visited:active {
  background: #997aff;
}
.m-nav__link--tweet,
.m-nav__link--tweet:visited {
  padding: 0.125em;
  text-indent: 0;
  background: #00aceb;
  border: 0.0625em solid #0087b8;
}
.m-nav__link--tweet:hover,
.m-nav__link--tweet:visited:hover {
  background: #1fc3ff;
}
.m-nav__link--tweet:active,
.m-nav__link--tweet:visited:active {
  background: #05bcff;
}
.m-nav__link--facebook,
.m-nav__link--facebook:visited {
  padding: 0.125em;
  text-indent: 0;
  background: #4c72dc;
  border: 0.0625em solid #2854cc;
}
.m-nav__link--facebook:hover,
.m-nav__link--facebook:visited:hover {
  background: #7794e4;
}
.m-nav__link--facebook:active,
.m-nav__link--facebook:visited:active {
  background: #6183e0;
}
.m-slideshow,
.m-slideshow--full-screen,
.m-slideshow--full {
  height: auto;
  text-align: center;
  padding: 1em 0;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
.m-slide__caption,
.m-slide__caption--full-screen {
  padding: 0.5em 1em;
  background: #282b2f;
}
.m-slide__caption__content {
  font-size: 1em;
  /*	480px	(480/16=30)		*/

}
@media screen and (min-width: 30em) {
  .m-slide__caption__content {
    font-size: 1.2em;
  }
}
.m-slideshow--full-screen {
  float: none;
  position: absolute;
  top: 0;
  padding: 0;
  display: block;
  z-index: -1;
}
@media screen and (min-width: 56.25em) {
  .m-slideshow--full-screen {
    width: 100%;
  }
}
.m-slide__caption--full-screen {
  border: 0.0625em solid #101213;
  border-width: 0 0 0.0625em 0;
  color: #dbe2eb;
  /*	480px	(480/16=30)		*/

  /*	720px	(720/16=45) 	*/

  /*	840px	(840/16=52.5)	*/

  /*	900px	(900/16=56.25) */

}
@media screen and (min-width: 30em) {
  .m-slide__caption--full-screen {
    padding: 0.8125em 1.5em;
  }
}
@media screen and (min-width: 45em) {
  .m-slide__caption--full-screen {
    width: 58.333%;
    position: absolute;
    bottom: 3.375em;
    left: 0;
    color: #282b2f;
    text-align: left;
    background: rgba(255, 255, 255, 0.85);
    border-width: 0.0625em 0.0625em 0.0625em 0;
  }
}
@media screen and (min-width: 52.5em) {
  .m-slide__caption--full-screen {
    width: 41.667%;
  }
}
@media screen and (min-width: 56.25em) {
  .m-slide__caption--full-screen {
    width: 50%;
    bottom: 7.594em;
  }
}
/* FlexSlider Necessary Styles
*********************************/
.m-slideshow--full {
  width: 100%;
  margin: 0;
  padding: 0;
  /*	1280px	(1280/16=80) */

}
@media screen and (min-width: 80em) {
  .m-slideshow--full {
    max-width: 80em;
    margin: 0 auto;
  }
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.m-slideshow--full .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  position: relative;
}
.m-slideshow--full .slides img {
  width: 100%;
  display: block;
}
/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
.no-js .slides > li:first-child {
  display: block;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.m-slideshow--full .slides {
  zoom: 1;
}
.m-carousel {
  zoom: 1;
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.m-carousel:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.m-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-perspective: 1000;
}
.m-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.m-carousel .owl-item {
  float: left;
}
.owl-controlls .owl-page,
.owl-controlls .owl-buttons div {
  cursor: pointer;
}
.owl-controlls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.m-carousel .owl-wrapper,
.m-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
#m-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}
.m-carousel .owl-controlls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.m-carousel .owl-controlls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.m-carousel .owl-controlls.clickable .owl-buttons div:hover {
  opacity: 1;
  text-decoration: none;
}
/* Styling Pagination*/
.m-carousel .owl-controlls .owl-page {
  display: inline-block;
  zoom: 1;
}
.m-carousel .owl-controlls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}
.m-carousel .owl-controlls .owl-page.active span,
.m-carousel .owl-controlls.clickable .owl-page:hover span {
  opacity: 1;
}
/* If PaginationNumbers is true */
.m-carousel .owl-controlls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.m-mod,
.m-mod--facebook,
.m-mod--home,
.m-mod--footer,
.m-mod--footer--signup {
  width: 100%;
  margin: 0 0 1.5em;
  /*	600px	(600/16=37.5)	*/

}
.m-mod:last-child {
  margin: 0;
}
@media screen and (min-width: 37.5em) {
  .m-mod,
  .m-mod--facebook,
  .m-mod--home,
  .m-mod--footer,
  .m-mod--footer--signup {
    margin: 0 0 2.25em;
  }
}
.m-mod__title {
  font-size: 1.5em;
  color: #282b2f;
  margin-bottom: 0.4446666666666667em;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.5);
}
.m-mod__sub-title {
  color: #4d4f51;
}
.m-mod__body > button {
  text-align: center;
  margin: 0 auto;
}
.m-mod__body__label {
  margin: 0 1em 0.8125em 0;
  color: #8f9399;
}
.m-mod__body__value {
  margin: 0 0 0.8125em 0;
}
.m-mod__note {
  font-size: 0.8125em;
  color: #8f9399;
}
.m-mod--facebook {
  -webkit-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.7);
  margin: 1.5em 0;
  background: #282b2f;
  color: #8f9399;
  /*	900px	(900/16=56.25) */

}
@media screen and (min-width: 56.25em) {
  .m-mod--facebook {
    width: 33.333%;
    margin: 0;
  }
}
.m-mod--facebook > .m-mod__title {
  color: #ffffff;
  padding: 0.5416666666666666em 0 0 0.5416666666666666em;
  text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.3);
  /*	600px	(600/16=37.5)	*/

  /*	900px	(900/16=56.25) */

}
@media screen and (min-width: 37.5em) {
  .m-mod--facebook > .m-mod__title {
    padding: 1em 0 0 1em;
  }
}
@media screen and (min-width: 56.25em) {
  .m-mod--facebook > .m-mod__title {
    padding: 0.6666666666666666em 0 0 0.6666666666666666em;
  }
}
.m-mod--home {
  /*	720px	(720/16=45)	*/

  /*	900px	(900/16=56.25) */

  /*	1080px	(1080/16=67.5) */

}
@media screen and (min-width: 45em) {
  .m-mod--home {
    width: 50%;
    padding-right: 2.25em;
  }
  .m-mod--home:last-of-type {
    padding-right: 0;
    padding-left: 2.25em;
  }
  .m-mod--home > .m-mod__title {
    text-align: center;
  }
}
@media screen and (min-width: 56.25em) {
  .m-mod--home {
    width: 33.333%;
    margin: 0;
    padding: 0 0 0 2.25em;
  }
}
@media screen and (min-width: 67.5em) {
  .m-mod--home {
    padding: 0 0 0 3.375em;
  }
}
.m-mod--footer,
.m-mod--footer--signup,
.m-mod--footer--signup {
  margin: 0;
  /*	480px	(480/16=30)		*/

  /*	720px	(720/16=45)	*/

}
@media screen and (min-width: 30em) {
  .m-mod--footer,
  .m-mod--footer--signup {
    width: 33.333%;
  }
}
@media screen and (min-width: 45em) {
  .m-mod--footer,
  .m-mod--footer--signup {
    padding: 0 0 0 2.25em;
  }
  .m-mod--footer:first-of-type {
    padding: 0;
  }
}
.m-mod__title--footer {
  margin: 0 0 0.25em 0;
  font-size: 1.5em;
  color: #3686e7;
}
.m-mod--footer--signup {
  background: rgba(0, 0, 0, 0.85);
  padding: 0.8125em;
  /*	480px	(480/16=30)		*/

  /*	600px	(600/16=37.5)	*/

  /*	840px	(840/16=52.5)	*/

}
@media screen and (min-width: 30em) {
  .m-mod--footer--signup {
    width: 100%;
  }
}
@media screen and (min-width: 37.5em) {
  .m-mod--footer--signup {
    padding: 1.5em 3.375em;
  }
}
@media screen and (min-width: 52.5em) {
  .m-mod--footer--signup {
    width: 66.667%;
    margin: 0 auto;
  }
}
.m-fb-feed {
  padding: 0 0.8125em 0.8125em;
  /*	600px	(600/16=37.5)	*/

  /*	900px	(900/16=56.25) */

}
@media screen and (min-width: 37.5em) {
  .m-fb-feed {
    padding: 0 1.5em 1.5em;
  }
}
@media screen and (min-width: 56.25em) {
  .m-fb-feed {
    padding: 0 1em 1em;
  }
}
.m-fb-feed p {
  margin: 0 0 0.8125em;
}
.m-fb-feed span {
  color: #6a6d71;
}
.m-fb-feed li {
  padding: 0.8125em 0;
}
.m-fb-feed li:first-child {
  padding-top: 0;
  border-bottom: 1px solid #101213;
}
.m-fb-feed li:last-child {
  padding-bottom: 0.25em;
}
.m-site-higlht {
  padding: 0.667em 0.8125em;
  -webkit-box-shadow: inset 0 0 0.3125em rgba(0, 0, 0, 0.35), inset 0 0 0.3125em rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 0 0.3125em rgba(0, 0, 0, 0.35), inset 0 0 0.3125em rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 0.3125em rgba(0, 0, 0, 0.35), inset 0 0 0.3125em rgba(0, 0, 0, 0.35);
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  /*	600px	(600/16=37.5)	*/

  /*	840px	(840/16=52.5)	*/

  /*	900px	(900/16=56.25) */

}
@media screen and (min-width: 25em) {
  .m-site-higlht {
    padding: 0.8125em 1em;
  }
}
@media screen and (min-width: 30em) {
  .m-site-higlht {
    padding: 1em 1.5em;
  }
}
@media screen and (min-width: 37.5em) {
  .m-site-higlht {
    width: 66.667%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 52.5em) {
  .m-site-higlht {
    position: absolute;
    top: 2.25em;
    right: 2.25em;
    width: 41.667%;
    margin: 0;
    z-index: 2;
  }
}
@media screen and (min-width: 56.25em) {
  .m-site-higlht {
    top: 3.375em;
    right: 3.375em;
    width: 33.333%;
  }
}
.m-site-higlht__title {
  color: #ffffff;
  text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 25em) {
  .m-site-higlht__title {
    font-size: 2.25em;
  }
}
@media screen and (min-width: 56.25em) {
  .m-site-higlht__title {
    font-size: 1.5em;
  }
}
.m-site-higlht__content {
  color: #8f9399;
}
.m-site-higlht > .btn {
  margin: 0 auto 2.25em;
  text-align: center;
}
/* 04 - state
--------------------------------------------------  */
.is-hidden {
  display: none;
}
.is-visible {
  display: block;
}
/* 05 - theme
--------------------------------------------------  */
.gray-lhtest {
  background: #dbe2eb;
}
/* footer styles
--------------------------------------------------  */
footer {
  padding: 2.25em 7.142857142857143%;
}
footer a,
footer a:visited {
  float: none;
  display: block;
  margin: 0 0 0.25em 0;
  color: #8f9399;
  text-decoration: none;
  border: none;
}
footer a:hover,
footer a:visited:hover,
footer a:active,
footer a:visited:active {
  border: none;
}
footer a:first-child,
footer a:visited:first-child {
  margin: 0 0 0.25em 0;
}
/*	400px	(400/16=25)			@media screen and (min-width: 25em)			*/
/*	480px	(480/16=30)			@media screen and (min-width: 30em)			*/
/*	600px	(600/16=37.5)		@media screen and (min-width: 37.5em)		*/
/*	720px	(720/16=45)			@media screen and (min-width: 45em)			*/
/*	840px	(840/16=52.5)		@media screen and (min-width: 52.5em)		*/
/*	900px	(900/16=56.25)	@media screen and (min-width: 56.25em)	*/
/*	1024px	(1024/16=64)	@media screen and (min-width: 64em)			*/
/*	1080px	(1080/16=67.5)@media screen and (min-width: 67.5em)		*/
/*	1280px	(1280/16=80)	@media screen and (min-width: 80em)			*/
/*	1408px	(1408/16=88)	@media screen and (min-width: 88em)			*/
/*	1600px	(1600/16=100)	@media screen and (min-width: 100em)		*/
/*	2080px	(2080/16=130)	@media screen and (min-width: 130em)		*/
