/*
*
*	Site Styles
*	This file contains the styles for the project. It imports the JumpStart base.less file.
*
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - base
*	02 - layout
*	03 - module
*	04 - stats
*	05 - theme
*
*
*/
/*
* 
* 
*	SaaSquatch JumpStart Base Less file: This file acts as a loading dock for all of the important less files. It also defines the base font values for the project and creates CSS consistency using an adaptation from http://necolas.github.com/normalize.css/
* 	JumpStart is an adaptation of:
*	Golden Grid System (created by Joni Korpi http://goldengridsystem.com/)
* 
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - imports
*	02 - consistency fixes
*	03 - simple fluid media
*	04 - zoomable baseline font sizes
* 
* 
*/
/*
*
*
*	SaaSquatch JumpStart Variable Less file: This contains all of the vital variables.
* 	JumpStart is an adaptation of:
*	Golden Grid System (created by Joni Korpi http://goldengridsystem.com/)
*
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - page gutter and em definition
*	02 - default sizes
*	03 - colors
*		03-a base colors
*		03-b grays - has elements that need to be addressed each project
*		03-c project specific colors - has elements that need to be addressed each project
*	04 - font(s) - needs to be changed per project
*
*
*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
* 
* 
*	SaaSquatch JumpStart Mixin Less file: This contains all of the mixins. This is a living document and should be updated with new mixins or current mixins should be edited to work better within our work flow.
* 	JumpStart is an adaptation of:
*	Golden Grid System (created by Joni Korpi http://goldengridsystem.com/)
* 
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - layout
*		01-a width mixin
*		01-b spacing
*	02 - styles
*		02-a rounded corners
*		02-b shadows
*		02-c gradient stack
*		02-d font stack
*		02-e misc
*	03 - CSS animations
*	04 - example btn stack - needs to be changed per project
* 
* 
*/
/*	column widths - this sets a fluid elements width. for use with containing elements
*	----------------------------------------------------------------
*	1column		= 8.333%
*	2columns	= 16.666%
*	3columns	= 25%
*	4columns	= 33.333%
*	5columns	= 41.666%
*	6columns	= 50%
*	7columns	= 58.333%
*	8columns	= 66.666%
*	9columns	= 75%
*	10columns	= 83.333%
*	11columns	= 91.666%
*	12columns	= 100%
*	
*/
/* line 333, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/mixins.less */
.btn,
.btn--secondary,
.btn--blue {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
  display: block;
  padding: 0 1em;
  background-color: #e73636;
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.15)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0)";
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  line-height: 2.6999999999999997em;
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.15);
  color: #520a0a;
  -webkit-box-shadow: 0.0625em 0.0625em 0 rgba(0, 0, 0, 0.25), -0.0625em -0.0625em 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0.0625em 0.0625em 0 rgba(0, 0, 0, 0.25), -0.0625em -0.0625em 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0.0625em 0.0625em 0 rgba(0, 0, 0, 0.25), -0.0625em -0.0625em 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
/* line 347, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/mixins.less */
.btn:visited {
  color: white !important;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
/* line 351, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/mixins.less */
.btn:hover {
  background-color: #d21919;
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.2)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0)";
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  color: #320606;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
/* line 357, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/mixins.less */
.btn:active {
  background-color: #bb1616;
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.25)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0)";
  background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  color: #1b0303;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 363, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/mixins.less */
.btn:first-child {
  margin: 0;
}
/* line 368, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/mixins.less */
.btn--secondary {
  background-color: #b7babe;
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.75)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.75)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0)";
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  color: #282b2f;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.8);
}
/* line 374, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/mixins.less */
.btn--secondary:hover {
  background-color: #81868d;
  color: black;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.5);
}
/* line 379, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/mixins.less */
.btn--secondary:active {
  background-color: #5c6066;
  color: #000000;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.3);
}
/* line 386, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/mixins.less */
.btn--blue {
  background-color: #3686e7;
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.15)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0)";
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  color: #0a2a52;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.15);
}
/*
* 
* 
*	SaaSquatch JumpStart Grid Less file: This contains the grid and should not be changed.
* 	JumpStart is an adaptation of:
*	Golden Grid System (created by Joni Korpi http://goldengridsystem.com/)
* 
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - float container
*	02 - display container inline-block
*	03 - display container block
*	04 - set container width, padding and border-box
*	05 - offset container
* 
* 
*/
/* line 34, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 40, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
ol {
  list-style: none;
}
/* line 47, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-transition: all 0.618s linear;
  -moz-transition: all 0.618s linear;
  -ms-transition: all 0.618s linear;
  transition: all 0.618s linear;
}
/* line 54, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
body {
  min-height: 100%;
  font-size: 100%;
}
/* line 62, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
header,
article,
footer,
section,
aside,
div,
button,
form,
input,
textarea,
span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}
/* line 69, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
/* line 76, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/* line 84, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}
/* line 89, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
textarea {
  overflow: auto;
}
/* line 93, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 101, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.clearfix {
  zoom: 1;
}
/* line 103, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* line 115, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
figure {
  position: relative;
}
/* line 117, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
figure img,
figure object,
figure embed,
figure video {
  max-width: 100%;
  display: block;
}
/* line 123, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 131, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
body {
  font-size: 1em;
  line-height: 1.5;
}
/* line 136, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
li {
  text-rendering: optimizeLegibility;
}
/*
*	size values based on @base being 16. These vaules will change at various breakpoints for larger viewports
*	@1px	- 1
*	@tiny	- 8
*	@xsml:	- 10.667
*	@sml:	- 13
*	@med:	- 16
*	@lrg:	- 24
*	@xl:	- 36
*	@2xl:	- 54
*	@3xl:	- 81
*	@4xl:	- 121.5
*	@5xl:	- 182.25
*/
/* line 155, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.five-xl {
  font-size: 11.391em;
  line-height: 1;
  margin: 0 0 0.2962865420068475em;
}
/* line 162, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.four-xl {
  font-size: 7.594em;
  line-height: 1;
  margin: 0 0 0.44442981301027124em;
}
/* line 169, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.three-xl {
  font-size: 5.063em;
  line-height: 1;
  margin: 0 0 0.4444005530317994em;
}
/* line 176, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.two-xl {
  font-size: 3.375em;
  line-height: 1;
  margin: 0 0 0.2962670353545329em;
}
/* line 183, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
h1,
.xl {
  font-size: 2.25em;
  line-height: 1.2;
  margin: 0 0 0.6666666666666666em;
}
/* line 190, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
h2,
.large {
  font-size: 1.5em;
  line-height: 1.2;
  margin: 0 0 0.6666666666666666em;
}
/* line 198, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
h3,
h4,
h5,
h6,
.medium {
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 1em;
}
/* line 209, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
p {
  margin: 0 0 1em;
}
/* line 211, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
p:last-child {
  margin: 0;
}
/* line 216, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.small {
  font-size: 0.8125em;
  line-height: 1.231em;
  margin: 0 0 1.2307692307692308em;
}
/* line 223, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.xsmall {
  font-size: 0.667em;
  line-height: 1.3em;
  margin: 0 0 1.4992503748125936em;
}
/* line 1, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-wrapper,
.l-wrapper--no-padding,
.l-wrapper--header {
  width: 100%;
  margin: 0;
  padding: 1.5em 7.142857142857143%;
  zoom: 1;
  border: 0.0625em solid #101213;
  border-width: 0 0 0.0625em;
  /*	600px	(600/16=37.5)	*/

  /*	1408px	(1408/16=88)	*/

}
/* line 103, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.l-wrapper:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
@media screen and (min-width: 37.5em) {
  /* line 10, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
  .l-wrapper,
  .l-wrapper--no-padding,
  .l-wrapper--header {
    padding: 3.375em 7.142857142857143%;
  }
}
@media screen and (min-width: 88em) {
  /* line 15, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
  .l-wrapper,
  .l-wrapper--no-padding,
  .l-wrapper--header {
    max-width: 130em;
    padding: 5.063em 14.285714285714286%;
  }
}
/* line 21, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-wrapper--no-padding {
  border-width: 0.0625em 0 0;
  /*	840px	(840/16=52.5)	*/

}
@media screen and (min-width: 52.5em) {
  /* line 26, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
  .l-wrapper--no-padding {
    padding: 0;
  }
}
/* line 31, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-wrapper--header {
  padding: 1em 7.142857142857143%;
  zoom: 1;
  background: white;
}
/* line 103, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.l-wrapper--header:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* line 38, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-mod-group {
  zoom: 1;
  margin: 0 0 1.5em;
  /*	600px	(600/16=37.5)	*/

}
/* line 103, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.l-mod-group:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
@media screen and (min-width: 37.5em) {
  /* line 44, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
  .l-mod-group {
    margin: 0 0 2.25em;
  }
}
/* line 49, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-relative {
  position: relative;
}
/* line 53, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-stacked {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 57, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-stacked > li {
  display: block;
}
/* line 58, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-stacked > a {
  display: block;
}
/* line 61, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-right {
  float: right;
}
/* line 65, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-left {
  float: left;
}
/* line 69, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-inline {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  zoom: 1;
}
/* line 103, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.l-inline:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* line 75, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/_l-styles.less */
.l-inline > a,
.l-inline > li {
  float: left;
  display: inline-block;
}
/*
*
*	Module Styles
*	This file imports all of the needed module styles. 
*
*/
/* line 1, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
#nav-js,
#nav-js ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
/* line 11, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
#nav-js > li,
#nav-js ul > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
  float: left;
  width: 100%;
  display: 100%;
}
/* line 18, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
#nav-js.opened,
#nav-js ul.opened {
  max-height: 9999px;
}
/* line 23, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.js #nav-js {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  top: 1em;
  display: block;
  margin: 0 0 1em;
  overflow: hidden;
  zoom: 1;
}
@media screen and (min-width: 49em) {
  /* line 33, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
  .js #nav-js {
    float: right;
    position: relative;
    width: auto;
    margin: .4em 0;
  }
  /* line 38, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
  .js #nav-js.closed {
    max-height: none;
  }
}
/* line 44, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
#nav-toggle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
  display: inline-block;
  position: relative;
  margin: 1.5em 0 0;
  width: 2.25em;
  height: 1.5em;
  background: white;
  text-indent: -9999em;
  border: 0.25em solid #6a6d71;
  border-width: 0.25em 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 63, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
#nav-toggle:before {
  content: '';
  position: absolute;
  top: 0.375em;
  display: block;
  width: 2.25em;
  height: 0.25em;
  background: #6a6d71;
}
/* line 73, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
#nav-toggle:hover {
  border-color: #3686e7;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 76, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
#nav-toggle:hover:before {
  background: #3686e7;
}
/* line 81, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
#nav-toggle:active {
  border-color: #11498d;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 84, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
#nav-toggle:active:before {
  background: #11498d;
}
@media screen and (min-width: 49em) {
  /* line 89, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
  #nav-toggle {
    display: none;
  }
}
/* line 94, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav {
  border: 0.0625em solid #dbe2eb;
  /*	784px	(784/16=49)		*/

}
@media screen and (min-width: 49em) {
  /* line 98, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
  .m-nav {
    border: none;
  }
}
/* line 103, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav--share {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  display: none;
  /*	784px	(784/16=49)		*/

}
@media screen and (min-width: 49em) {
  /* line 109, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
  .m-nav--share {
    position: absolute;
    top: -1em;
    right: 0;
    display: block;
    padding: 0.375em 0.667em;
    background: #dbe2eb;
  }
}
/* line 117, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav > li {
  height: 2.25em;
  padding: 0 0 0 0.5em;
  line-height: 2.25em;
  border-top: 0.0625em solid #dbe2eb;
  /*	784px	(784/16=49)		*/

}
/* line 122, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav > li:first-child {
  border-top: none;
}
@media screen and (min-width: 49em) {
  /* line 127, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
  .m-nav > li {
    border-top: none;
    display: inline-block !important;
    width: auto !important;
  }
}
/* line 134, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav__link,
.m-nav__link:visited,
.i-email,
.i-email:visited,
.i-email:visited,
.i-email:visited:visited,
.i-tweet,
.i-tweet:visited,
.i-tweet:visited,
.i-tweet:visited:visited,
.i-facebook,
.i-facebook:visited,
.i-facebook:visited,
.i-facebook:visited:visited {
  color: #8f9399;
  text-decoration: none;
  /*	784px	(784/16=49)		*/

}
/* line 138, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav__link:hover,
.m-nav__link:visited:hover,
.i-email:hover,
.i-email:visited:hover,
.i-email:visited:hover,
.i-email:visited:visited:hover,
.i-tweet:hover,
.i-tweet:visited:hover,
.i-tweet:visited:hover,
.i-tweet:visited:visited:hover,
.i-facebook:hover,
.i-facebook:visited:hover,
.i-facebook:visited:hover,
.i-facebook:visited:visited:hover {
  color: #3686e7;
}
/* line 141, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav__link:active,
.m-nav__link:visited:active,
.m-nav__link.s-is-current,
.m-nav__link:visited.s-is-current,
.i-email:active,
.i-email:visited:active,
.i-email.s-is-current,
.i-email:visited.s-is-current,
.i-email:visited:active,
.i-email:visited:visited:active,
.i-email:visited.s-is-current,
.i-email:visited:visited.s-is-current,
.i-tweet:active,
.i-tweet:visited:active,
.i-tweet.s-is-current,
.i-tweet:visited.s-is-current,
.i-tweet:visited:active,
.i-tweet:visited:visited:active,
.i-tweet:visited.s-is-current,
.i-tweet:visited:visited.s-is-current,
.i-facebook:active,
.i-facebook:visited:active,
.i-facebook.s-is-current,
.i-facebook:visited.s-is-current,
.i-facebook:visited:active,
.i-facebook:visited:visited:active,
.i-facebook:visited.s-is-current,
.i-facebook:visited:visited.s-is-current {
  border-bottom: 0.0625em solid #64a1ed;
  color: #64a1ed !important;
}
@media screen and (min-width: 49em) {
  /* line 148, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
  .m-nav__link,
  .m-nav__link:visited,
  .i-email,
  .i-email:visited,
  .i-email:visited,
  .i-email:visited:visited,
  .i-tweet,
  .i-tweet:visited,
  .i-tweet:visited,
  .i-tweet:visited:visited,
  .i-facebook,
  .i-facebook:visited,
  .i-facebook:visited,
  .i-facebook:visited:visited {
    margin: 0 0 0 1.5em;
    padding: 0 0.8125em 0.25em;
    border-bottom: 0.0625em solid rgba(255, 255, 255, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 153, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
  .m-nav__link:hover,
  .m-nav__link:visited:hover,
  .i-email:hover,
  .i-email:visited:hover,
  .i-email:visited:hover,
  .i-email:visited:visited:hover,
  .i-tweet:hover,
  .i-tweet:visited:hover,
  .i-tweet:visited:hover,
  .i-tweet:visited:visited:hover,
  .i-facebook:hover,
  .i-facebook:visited:hover,
  .i-facebook:visited:hover,
  .i-facebook:visited:visited:hover {
    border-bottom: 0.0625em solid #3686e7;
  }
  /* line 156, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
  .m-nav__link:active,
  .m-nav__link:visited:active,
  .i-email:active,
  .i-email:visited:active,
  .i-email:visited:active,
  .i-email:visited:visited:active,
  .i-tweet:active,
  .i-tweet:visited:active,
  .i-tweet:visited:active,
  .i-tweet:visited:visited:active,
  .i-facebook:active,
  .i-facebook:visited:active,
  .i-facebook:visited:active,
  .i-facebook:visited:visited:active {
    border-bottom: 0.0625em solid #64a1ed;
  }
}
/* line 160, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav__link:first-child,
.m-nav__link:visited:first-child,
.i-email:first-child,
.i-email:visited:first-child,
.i-email:visited:first-child,
.i-email:visited:visited:first-child,
.i-tweet:first-child,
.i-tweet:visited:first-child,
.i-tweet:visited:first-child,
.i-tweet:visited:visited:first-child,
.i-facebook:first-child,
.i-facebook:visited:first-child,
.i-facebook:visited:first-child,
.i-facebook:visited:visited:first-child {
  margin: 0;
}
/* line 165, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav__link--icon {
  width: 1em;
  height: 1em;
  margin-left: 0.667em;
  background: #6a6d71;
  border: 0.0625em solid #4d4f51;
  text-decoration: none;
  font-size: 1em;
  line-height: 0;
  color: white;
}
/* line 175, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav__link--icon:first-child {
  margin-left: 0;
}
/* line 178, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav__link--icon:hover {
  color: white;
}
/* line 181, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav__link--icon:active {
  color: white;
}
/* line 186, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-nav.less */
.m-nav__title {
  float: left;
  margin: 0 0.667em 0 0;
  padding: 0.07692307692307693em 0 0;
  font-size: 0.8125em;
  line-height: 1.5em;
  color: #6a6d71;
}
/* line 1, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.m-carousel-container,
.m-carousel-container--full {
  width: 100%;
  margin: 0 auto;
  border: 0.40625em solid #ffffff;
  border-width: 0 0.40625em 0.40625em;
  /*  720px (720/16=45)   */

}
@media screen and (min-width: 45em) {
  /* line 8, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
  .m-carousel-container,
  .m-carousel-container--full {
    width: 66.667%;
  }
}
/* line 13, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.m-carousel-container--full {
  border-width: 0;
  /*  720px (720/16=45)   */

  /*  1120px  (1120/16=70)  */

}
/* line 17, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.m-carousel-container--full > .m-carousel {
  border-width: 0;
  /*  1120px  (1120/16=70)  */

}
@media screen and (min-width: 70em) {
  /* line 21, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
  .m-carousel-container--full > .m-carousel {
    max-width: 70em;
    border: 0.0625em solid #101213;
    border-width: 0 0.0625em 0.0625em;
  }
}
@media screen and (min-width: 45em) {
  /* line 29, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
  .m-carousel-container--full {
    width: 100%;
  }
}
@media screen and (min-width: 70em) {
  /* line 34, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
  .m-carousel-container--full {
    max-width: 70em;
    border: 0.40625em solid #ffffff;
    border-width: 0 0.40625em 0.40625em;
  }
}
/* line 41, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.m-carousel {
  zoom: 1;
  display: none;
  position: relative;
  width: 100%;
  border: 0.0625em solid #101213;
  border-width: 0 0.0625em 0.0625em;
  -ms-touch-action: pan-y;
  /*  1120px  (1120/16=70)  */

}
/* line 103, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
.m-carousel:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
@media screen and (min-width: 70em) {
  /* line 51, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
  .m-carousel {
    max-width: 70em;
  }
}
/* line 56, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.m-carousel__caption {
  position: absolute;
  bottom: 3.375em;
  width: 100%;
  padding: 1em;
  background: rgba(0, 0, 0, 0.63);
  color: white;
  /*  720px (720/16=45) */

  /*  900px (900/16=56.25)  */

}
@media screen and (min-width: 45em) {
  /* line 65, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
  .m-carousel__caption {
    bottom: 5.063em;
    left: 7.142857142857143%;
    width: 66.667%;
  }
}
@media screen and (min-width: 56.25em) {
  /* line 72, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
  .m-carousel__caption {
    bottom: 5.063em;
    width: 50%;
  }
}
/* line 78, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.m-carousel__caption__title {
  font-size: 1.5em;
}
/* line 82, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.m-carousel__link {
  color: #e73636;
}
/* line 86, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-perspective: 1000;
}
/* line 93, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: -2.25em;
}
/* line 100, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-item {
  float: left;
}
/* line 103, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-item > .item {
  position: relative;
}
/* line 107, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-item > .item > img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 114, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-page,
.owl-buttons > div {
  cursor: pointer;
}
/* line 119, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-controlls {
  position: relative;
  z-index: 1;
  height: 2.25em;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 -0.40625em 0.8125em rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*  1120px  (1120/16=70)  */

}
@media screen and (min-width: 70em) {
  /* line 135, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
  .owl-controlls {
    max-width: 70em;
  }
}
/* line 139, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-controlls .owl-page {
  display: inline-block;
  zoom: 1;
}
/* line 142, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-controlls .owl-page span {
  display: block;
  width: 0.8125em;
  height: 0.8125em;
  margin: 0 0.5em;
  padding: 0;
  -webkit-border-radius: 1.625em;
  -moz-border-radius: 1.625em;
  border-radius: 1.625em;
  border: 0.125em solid #ffffff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
/* line 152, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-controlls .owl-page.active span,
.owl-controlls .owl-page:hover span {
  background: #3686e7;
  border-width: 0.0625em;
  border-color: #196cd2;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
/* mouse grab icon */
/* line 163, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
/* line 168, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/m-carousel.less */
.owl-wrapper,
.owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
/* 01 - base
--------------------------------------------------  */
/* line 23, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
body {
  background: #dbe2eb;
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
  color: #282b2f;
}
@media screen and (min-width: 88em) {
  /* line 27, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  body {
    font-size: 1.125em;
  }
}
@media screen and (min-width: 100em) {
  /* line 31, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  body {
    font-size: 1.1875em;
  }
}
@media screen and (min-width: 130em) {
  /* line 35, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  body {
    font-size: 1.25em;
  }
}
/* line 41, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.25em;
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
/* line 48, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
h1 {
  color: white;
  text-shadow: 0 0.0625em 0 #000000;
  text-align: center;
}
/* line 54, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
a,
a:visited {
  color: #3686e7;
  text-decoration: underline;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 58, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
a:hover,
a:visited:hover {
  color: #64a1ed;
  text-decoration: none;
}
/* line 62, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
a:active,
a:visited:active {
  color: #7bafef;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 69, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
header {
  position: relative;
}
/* line 73, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
nav {
  margin: 1.5em 0;
  zoom: 1;
}
/* line 103, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/base.less */
nav:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* line 80, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.logo {
  float: right;
  width: 9.5em;
  height: 5em;
  margin: 0;
  font-size: 1em;
}
@media screen and (min-width: 49em) {
  /* line 86, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .logo {
    float: left;
  }
}
/* line 89, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.logo > a {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../img/logo.svg) no-repeat 0 0;
  text-indent: -999em;
  text-decoration: none;
}
/* line 101, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-form {
  width: 100%;
}
/* line 104, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-form > .btn,
.m-form > .btn--secondary {
  margin: 0 auto;
  text-align: center;
}
/* line 111, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-form__title {
  text-align: center;
  color: white;
  text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.3);
}
/* line 117, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-form__label {
  display: block;
  margin-bottom: 0.25em;
  font-size: 1em;
  text-align: left;
  color: #6a6d71;
}
/* line 125, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-form__input,
.m-form__textarea {
  display: block;
  width: 100%;
  height: 2.25em;
  margin: 0 0 0.8125em;
  padding: 0 0.5em;
  line-height: 2.25em;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
/* line 136, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-form__textarea {
  height: 5.063em;
}
/* line 142, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* line 153, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.i-email,
.i-email:visited {
  padding: 0.125em;
  text-indent: 0;
  background: #8661ff;
  border: 0.0625em solid #5f2eff;
}
/* line 160, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.i-email:hover,
.i-email:visited:hover {
  background: #ad94ff;
}
/* line 163, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.i-email:active,
.i-email:visited:active {
  background: #997aff;
}
/* line 168, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.i-tweet,
.i-tweet:visited {
  padding: 0.125em;
  text-indent: 0;
  background: #00aceb;
  border: 0.0625em solid #0087b8;
}
/* line 175, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.i-tweet:hover,
.i-tweet:visited:hover {
  background: #1fc3ff;
}
/* line 178, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.i-tweet:active,
.i-tweet:visited:active {
  background: #05bcff;
}
/* line 183, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.i-facebook,
.i-facebook:visited {
  padding: 0.125em;
  text-indent: 0;
  background: #4c72dc;
  border: 0.0625em solid #2854cc;
}
/* line 190, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.i-facebook:hover,
.i-facebook:visited:hover {
  background: #7794e4;
}
/* line 193, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.i-facebook:active,
.i-facebook:visited:active {
  background: #6183e0;
}
/* line 202, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod,
.m-mod--facebook,
.m-mod--home,
.m-mod--highlight,
.m-mod--footer,
.m-mod--footer--signup {
  width: 100%;
  margin: 0 0 1.5em;
  /*	600px	(600/16=37.5)	*/

}
/* line 206, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod:last-child {
  margin: 0;
}
@media screen and (min-width: 37.5em) {
  /* line 211, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod,
  .m-mod--facebook,
  .m-mod--home,
  .m-mod--highlight,
  .m-mod--footer,
  .m-mod--footer--signup {
    margin: 0;
  }
}
/* line 216, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod__title {
  font-size: 1.5em;
  color: #282b2f;
  margin-bottom: 0.4446666666666667em;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.5);
}
/* line 223, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod__sub-title {
  color: #4d4f51;
}
/* line 227, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod__body > button {
  text-align: center;
  margin: 0 auto;
}
/* line 232, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod__body__label {
  margin: 0 1em 0.8125em 0;
  color: #8f9399;
}
/* line 237, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod__body__value {
  margin: 0 0 0.8125em 0;
}
/* line 241, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod__note {
  font-size: 0.8125em;
  color: #8f9399;
}
/* line 249, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod--facebook {
  -webkit-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.7);
  margin: 1.5em 0;
  background: #282b2f;
  color: #8f9399;
  /*	900px	(900/16=56.25) */

}
@media screen and (min-width: 56.25em) {
  /* line 257, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--facebook {
    width: 33.333%;
    margin: 0;
  }
}
/* line 262, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod--facebook > .m-mod__title {
  color: white;
  padding: 0.5416666666666666em 0 0 0.5416666666666666em;
  text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.3);
  /*	600px	(600/16=37.5)	*/

  /*	900px	(900/16=56.25) */

}
@media screen and (min-width: 37.5em) {
  /* line 268, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--facebook > .m-mod__title {
    padding: 1em 0 0 1em;
  }
}
@media screen and (min-width: 56.25em) {
  /* line 273, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--facebook > .m-mod__title {
    padding: 0.6666666666666666em 0 0 0.6666666666666666em;
  }
}
/* line 279, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod--home {
  /*	720px	(720/16=45)	*/

  /*	900px	(900/16=56.25) */

  /*	1080px	(1080/16=67.5) */

  /*	1280px	(1280/16=80)	*/

  /*	1408px	(1408/16=88)	*/

}
@media screen and (min-width: 45em) {
  /* line 283, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--home {
    width: 50%;
    padding-right: 2.25em;
  }
  /* line 287, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--home:last-of-type {
    padding-right: 0;
    padding-left: 2.25em;
  }
  /* line 292, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--home > .m-mod__title {
    text-align: center;
  }
}
@media screen and (min-width: 56.25em) {
  /* line 298, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--home {
    width: 33.333%;
    margin: 0;
    padding: 0 0 0 2.25em;
  }
}
@media screen and (min-width: 67.5em) {
  /* line 305, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--home {
    width: 50%;
    padding: 0 0 0 3.375em;
  }
}
@media screen and (min-width: 80em) {
  /* line 311, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--home {
    width: 25%;
  }
}
@media screen and (min-width: 88em) {
  /* line 316, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--home {
    width: 50%;
  }
}
/* line 323, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod--highlight {
  padding: 0.667em 0.8125em;
  -webkit-box-shadow: inset 0 0 0.3125em rgba(0, 0, 0, 0.35), inset 0 0 0.3125em rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 0 0.3125em rgba(0, 0, 0, 0.35), inset 0 0 0.3125em rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 0.3125em rgba(0, 0, 0, 0.35), inset 0 0 0.3125em rgba(0, 0, 0, 0.35);
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  /*	400px (400/16=25)	*/

  /*	480px (480/16=30)	*/

  /*	600px	(600/16=37.5)	*/

  /*	900px	(900/16=56.25) */

  /*	1080px	(1080/16=67.5)	*/

}
@media screen and (min-width: 25em) {
  /* line 332, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--highlight {
    padding: 0.8125em 1em;
  }
}
@media screen and (min-width: 30em) {
  /* line 337, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--highlight {
    padding: 1em 1.5em;
  }
}
@media screen and (min-width: 37.5em) {
  /* line 342, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--highlight {
    margin: 0 auto 1.5em;
    padding: 1.5em 3.375em;
  }
}
@media screen and (min-width: 56.25em) {
  /* line 348, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--highlight {
    width: 66.667%;
  }
}
@media screen and (min-width: 67.5em) {
  /* line 353, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--highlight {
    width: 50%;
  }
}
/* line 359, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod_title--highlight {
  color: white;
  text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.3);
  /*	400px (400/16=25)	*/

  /*	900px	(900/16=56.25) */

}
@media screen and (min-width: 25em) {
  /* line 364, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod_title--highlight {
    font-size: 2.25em;
  }
}
@media screen and (min-width: 56.25em) {
  /* line 369, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod_title--highlight {
    font-size: 1.5em;
  }
}
/* line 374, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod__content--highlight {
  color: #8f9399;
}
/* line 378, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod--highlight > .btn {
  margin: 0 auto 2.25em;
  text-align: center;
}
/* line 385, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod--footer,
.m-mod--footer--signup,
.m-mod--footer--signup {
  margin: 0;
  /*	480px	(480/16=30)		*/

  /*	720px	(720/16=45)	*/

}
@media screen and (min-width: 30em) {
  /* line 390, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--footer,
  .m-mod--footer--signup {
    width: 33.333%;
  }
}
@media screen and (min-width: 45em) {
  /* line 395, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--footer,
  .m-mod--footer--signup {
    padding: 0 0 0 2.25em;
  }
  /* line 398, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--footer:first-of-type {
    padding: 0;
  }
}
/* line 404, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod__title--footer {
  margin: 0 0 0.25em 0;
  font-size: 1.5em;
  color: #3686e7;
}
/* line 410, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-mod--footer--signup {
  background: rgba(0, 0, 0, 0.85);
  padding: 0.8125em;
  /*	480px	(480/16=30)		*/

  /*	600px	(600/16=37.5)	*/

  /*	840px	(840/16=52.5)	*/

}
@media screen and (min-width: 30em) {
  /* line 416, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--footer--signup {
    width: 100%;
  }
}
@media screen and (min-width: 37.5em) {
  /* line 421, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--footer--signup {
    padding: 1.5em 3.375em;
  }
}
@media screen and (min-width: 52.5em) {
  /* line 426, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-mod--footer--signup {
    width: 66.667%;
    margin: 0 auto;
  }
}
/* line 435, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-fb-feed {
  padding: 0 0.8125em 0.8125em;
  /*	600px	(600/16=37.5)	*/

  /*	900px	(900/16=56.25) */

}
@media screen and (min-width: 37.5em) {
  /* line 439, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-fb-feed {
    padding: 0 1.5em 1.5em;
  }
}
@media screen and (min-width: 56.25em) {
  /* line 444, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
  .m-fb-feed {
    padding: 0 1em 1em;
  }
}
/* line 448, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-fb-feed p {
  margin: 0 0 0.8125em;
}
/* line 452, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-fb-feed span {
  color: #6a6d71;
}
/* line 456, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-fb-feed li {
  padding: 0.8125em 0;
}
/* line 459, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-fb-feed li:first-child {
  padding-top: 0;
  border-bottom: 1px solid #101213;
}
/* line 464, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.m-fb-feed li:last-child {
  padding-bottom: 0.25em;
}
/* 04 - state
--------------------------------------------------  */
/* line 475, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.s-is-hidden {
  display: none;
}
/* line 479, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
.s-is-visible {
  display: block;
}
/* 05 - theme
--------------------------------------------------  */
/* footer styles
--------------------------------------------------  */
/* line 494, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
footer {
  padding: 2.25em 7.142857142857143%;
  background: #282b2f;
}
/* line 498, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
footer a,
footer a:visited {
  float: none;
  display: block;
  margin: 0 0 0.25em 0;
  color: #8f9399;
  text-decoration: none;
  border: none;
}
/* line 506, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
footer a:hover,
footer a:visited:hover,
footer a:active,
footer a:visited:active {
  border: none;
}
/* line 510, /Users/jameswenzel/Documents/code/tommy-site/tommyr/less/styles.less */
footer a:first-child,
footer a:visited:first-child {
  margin: 0 0 0.25em 0;
}
/*	400px	(400/16=25)			@media screen and (min-width: 25em)	*/
/*	480px	(480/16=30)			@media screen and (min-width: 30em)	*/
/*	600px	(600/16=37.5)		@media screen and (min-width: 37.5em)	*/
/*	720px	(720/16=45)			@media screen and (min-width: 45em)	*/
/*	840px	(840/16=52.5)		@media screen and (min-width: 52.5em)	*/
/*	900px	(900/16=56.25)	@media screen and (min-width: 56.25em)	*/
/*	1024px	(1024/16=64)	@media screen and (min-width: 64em)	*/
/*	1080px	(1080/16=67.5)@media screen and (min-width: 67.5em)	*/
/*	1120px	(1120/16=70)	@media screen and (min-width: 70em)	*/
/*	1280px	(1280/16=80)	@media screen and (min-width: 80em)	*/
/*	1408px	(1408/16=88)	@media screen and (min-width: 88em)	*/
/*	1600px	(1600/16=100)	@media screen and (min-width: 100em)	*/
/*	2080px	(2080/16=130)	@media screen and (min-width: 130em)	*/
