/*
*
*	Site Styles
*	This file contains the styles for the project. It imports the JumpStart base.less file.
*
*	Table of Contents:
*	----------------------------------------------------------------
*	01 - base
*	02 - layout
*	03 - module
*	04 - stats
*	05 - theme
* 
*	
*/

@import "base"; //This imports the base.less file

/* below color styles are for development purposes only 
--------------------------------------------------  */
.original-colors,
.less-colors {
	display: block;
	.clearfix;
}

.original-colors > div,
.less-colors > div {
	float: left;
	display: block;
	width: 60px;
	height: 60px;
}

.original-colors {
	.color1 { 	background: hsl(20, 77%, 61%);} // orange
	.color2 { 	background: hsl(209, 74%, 60%);} // blue
	.color3 { 	background: hsl(137, 58%, 57%);} // green
	.color4 { 	background: hsl(207, 18%, 19%);} // darkest gray
	.color5 { 	background: rgb(64,79,89);} // darker gray
	.color6 { 	background: rgb(98,120,132);} // dark gray
	.color7 { 	background: rgb(133,159,170);} // gray
	.color8 { 	background: rgb(179,196,201);} // light gray
	.color9 { 	background: rgb(208,225,229);} // lighter gray
	.color10 { 	background: rgb(252,255,253);} // lightest gray
	.color11 { 	background: @white;} // white
}

.less-colors {
	.color1 { 	background: @orange;} // orange
	.color2 { 	background: @blue;} // blue
	.color3 { 	background: @green;} // green
	.color4 { 	background: @gray-drkest;} // darkest gray
	.color5 { 	background: @gray-drker;} // darker gray
	.color6 { 	background: @gray-drk;} // dark gray
	.color7 { 	background: @gray;} // gray
	.color8 { 	background: @gray-lht;} // light gray
	.color9 { 	background: @gray-lhter;} // lighter gray
	.color10 { 	background: @gray-lhtest;} // lightest gray
	.color11 { 	background: @white;} // white
}


/* 01 - base
--------------------------------------------------  */
body {
	background: @gray-drker;
	#font > .font-book();
	color: @gray-drker;
	@media screen and (min-width: 88em) {
		@base: 18;
		font-size: @em;
	}
	@media screen and (min-width: 100em) {
		@base: 19;
		font-size: @em;
	}
	@media screen and (min-width: 130em) {
		@base: 20;
		font-size: @em;
	}
}

header, article, footer, section, aside, div, button, form, input {
	.box-sizing;
}

h1, h2, h3, h4, h5, h6 { 
	margin: 0 0 @1px*4;
	#font > .font-book();
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1 {
	color: @white;
	#text-shadow > .black(@alpha: 1);
	text-align: center;
}

a, a:visited {
		color: @link-color;
		text-decoration: underline;
		.transition(all .25s);
	&:hover {
    	color: lighten(@link-color,10%);
		text-decoration: none;
	}
	&:active {
    	color: lighten(@link-color,15%);
		text-decoration: none;
		.transition(all .25s);
	}
}

header {
	position: relative;
}

nav {
	margin: @lrg 0;
	.clearfix;
}

ol {
	list-style: none;
}

/* 02 - layout
--------------------------------------------------  */
.l-full-wrapper {
	#grid-container > .column(block, 12, @lrg, @page-gutter);
	margin: 0;
	.clearfix;
	
	@media screen and (min-width: 88em) {
		max-width: 88em;
		margin: 0 auto;
	}
}

.l-stacked {
	margin: 0;
	padding: 0;
	list-style-type: none;
	> li { display: block;}
	> a { display: block;}
}

.l-inline {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	.clearfix;
	& > a,
	& > li { 
		float: left;
		display: inline-block;
	}
}

/* 03 - module
--------------------------------------------------  */

//	03.1 logo 
//	-------------------------------------------------
.logo {
	float: right;
	width: @em*9.5; // 152/16 = 9.5
	height: @em*5; // 80/16 = 5
	margin: 0;
	font-size: @med; // resets em to 1em
	@media screen and (min-width: 49em) {
		float: left;
	}
	& > a {
		display: block;
		width: 100%;
		height: 100%;
		background: transparent url(../img/logo.svg) no-repeat 0 0;
		text-indent: -999em;
		text-decoration: none;
	}
}




//	03.2 quick responsive nav (this is going to be replaced by a better solution)
//	-------------------------------------------------
#nav-js,
#nav-js ul {
	.box-sizing();
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	
	& > li {
		.box-sizing();
		float: left;
		width: 100%;
		display: 100%;
	}
	
	&.opened {
		max-height: 9999px;
	}
}

.js #nav-js {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
	top: @med;
    display: block;
	margin: 0 0 @med;
    overflow: hidden;
    zoom: 1;
	
	@media screen and (min-width: 49em) {
		float: right;
		position: relative;
		width: auto;
		margin: .4em 0;
		&.closed {
			max-height: none;
		}
	}
}

#nav-toggle {
	.box-sizing();
	display: inline-block;
	position: relative;
	margin: @lrg 0 0;
	width: @xl;
	height: @lrg;
	background: @white;
	text-indent: -9999em;
	border: (@1px * 4) solid @gray;
	border-width: (@1px * 4) 0;
	.transition(all .25s);
	
    -webkit-touch-callout: none;
      -webkit-user-select: none;
    	 -moz-user-select: none;
    	  -ms-user-select: none;
    	  	  user-select: none;
			  
	&:before {
		content: '';
		position: absolute;
		top: (@1px * 6);
		display: block;
		width: @xl;
		height: (@1px * 4);
		background: @gray;
	}
	
	&:hover {
		border-color: @link-color;
		.transition(all .25s);
		&:before {
			background: @link-color;
		}
	}
	
	&:active {
		border-color: darken(@link-color,25%);
		.transition(all .25s);
		&:before {
			background: darken(@link-color,25%);
		}
	}
	
	@media screen and (min-width: 49em) {
		display: none;
	}
}



//	03.3 buttons
//	-------------------------------------------------
.join-email {
	padding: @xsml @sml;
	background: @gray-drkest;
	background-color: hsla(0,0%,0%,0.25);
	border: @1px solid @black;
	@shadow: inset 0 0 @1px*5 hsla(0,0%,0%,0.35), inset 0 0 @1px*5 hsla(0,0%,0%,0.35);
	#box-shadow > .custom(@shadow);
}

h2 {
	color: @blue;
	#text-shadow > .black;
}
form {
	width: 100%;
	span {
		display: block;
		overflow: hidden;
	}
	input {
		width: 100%;
		line-height: @lrg;
	}
}



//	03.4 font icons global
//	-------------------------------------------------
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}




//	03.3 horizontal navigation: includes global nav but will need to be redone when new navigation is implemented
//	-------------------------------------------------
.horizontal-nav {
	border: @1px solid @gray-lhtest;
	@media screen and (min-width: 49em) {
		border: none;
	}
}

.horizontal-nav > li {
	height: @xl;
	padding: 0 0 0 @tiny;
	line-height: @xl;
	border-top: @1px solid @gray-lhtest;
	&:first-child {
		border-top: none;
	}
	
	@media screen and (min-width: 49em) {
		border-top: none;
		display: inline-block !important;
		width: auto !important;
	}
}
.horizontal-nav > li > a,
.horizontal-nav > li > a:visited {
	color: @gray-lht;
	text-decoration: none;
	&:hover {
		color: @link-color;
	}
	&:active {
		border-bottom: @1px solid lighten(@link-color,10%);
		color: lighten(@link-color,10%) !important;
	}
	@media screen and (min-width: 49em) {
			margin: 0 0 0 @lrg;
			padding: 0 @sml; 
			border-bottom: @1px solid @white;
			.transition(all .3s);
		&:hover {
			border-bottom: @1px solid @link-color;
		}
		&:active {
			border-bottom: @1px solid lighten(@link-color,10%);
		}
	}
	&:first-child {
		margin: 0;
	}
}




//	03.5 icon horizontal nav: includes top share section and slideshow navigation
//	-------------------------------------------------
.ico-horizontal-nav {
	margin: 0 auto;
	padding: @tiny @xsml;
	background: @gray-lht;
	#box-shadow > .black(@1px*4);
	.clearfix;
	
	.is-active {
		background: saturate(spin(@red, 353), 1%);
		border-color: fadeout(@black, 50%);
	}
}

.ico-horizontal-nav-share {
	&:extend(.ico-horizontal-nav);
	#box-shadow > .black(0);
	display: none;

	@media screen and (min-width: 49em) {
		.l-absolute-right(0, @page-gutter);
		display: block;
		padding: @1px*6 @xsml;
		background: @gray-lhtest;
	}
}

.ico-h-nav-title {
	float: left;
	margin: 0 @xsml 0 0;
	padding: @1px/@sml 0 0;
	font-size: @sml;
	line-height: 1.5em;
	color: @gray;
}

.ico-h-nav-link {
	width: @med;
	height: @med;
	margin-left: @xsml;
	background: @gray;
	border: @1px solid @gray-drk;
	text-decoration: none;
	font-size: @med;
	line-height: 0;
	text-indent: -9999em;
	color: @white;
	&:first-child {
		margin-left: 0;
	}
	&:hover {
		color: @white;
	}
	&:active {
		color: @white;
	}
}

.ico-h-nav-link-email,
.ico-h-nav-link-email:visited {
	&:extend(.ico-h-nav-link all);
	padding: (@1px*2);
	text-indent: 0;
	background: @purple;
	border: @1px solid darken(@purple,10%);
	&:hover {
		background: lighten(@purple,10%);
	}
	&:active {
		background: lighten(@purple,5%);
	}
}

.ico-h-nav-link-tweet,
.ico-h-nav-link-tweet:visited {
	&:extend(.ico-h-nav-link all);
	padding: (@1px*2);
	text-indent: 0;
	background: @twitter-blue;
	border: @1px solid darken(@twitter-blue,10%);
	&:hover {
		background: lighten(@twitter-blue,10%);
	}
	&:active {
		background: lighten(@twitter-blue,5%);
	}
}

.ico-h-nav-link-facebook,
.ico-h-nav-link-facebook:visited {
	&:extend(.ico-h-nav-link all);
	padding: (@1px*2);
	text-indent: 0;
	background: @facebook-blue;
	border: @1px solid darken(@facebook-blue,10%);
	&:hover {
		background: lighten(@facebook-blue,10%);
	}
	&:active {
		background: lighten(@facebook-blue,5%);
	}
}






//	03.6 slideshow
//	-------------------------------------------------
.slideshow {
	.width(12);
	height: auto;
	text-align: center;
	padding: @med 0;
	@media screen and (min-width: 49em) {
		#grid-container > .column(inline, 8, @lrg, 0);
		float: left;		
	}
}

.slideshow-slides {
	width: 100%;
	border: (@1px * 4) solid @white;
	@shadow: inset @1px @1px 0 @gray-lht, inset -@1px -@1px 0 @gray-lht, 0 @1px*4 0 hsla(0,0%,0%,0.25);
	#box-shadow > .custom(@shadow);
	
	@media screen and (min-width: 37.5em) {
		border-width: (@1px * 6);
	}
	
	@media screen and (min-width: 56.25em) {
		border-width: @xsml;
	}
}

.slideshow-slide {
	position: relative;
}

.slideshow-caption {
	padding: @tiny;
	background: hsla(0,0,0,0.65);
	text-align: left;
	color: @gray-lhtest;
	
	@media screen and (min-width: 30em) {
		.l-absolute-bottom-right(0,0,0);
		padding: @sml;
	}
	
	@media screen and (min-width: 37.5em) {
		.l-absolute-bottom-right(0,0,0);
		padding: @sml;
	}
}

.slideshow-caption > h2 {
	display: none;
	@media screen and (min-width: 30em) {
		display: block;
		font-size: @lrg;
		color: @white;
	}
}

.slideshow-caption > p {
	font-size: @med;
}

.bucket {
	.width(12);
	@media screen and (min-width: 49em) {
		#grid-container > .column(float, 4, @lrg, @lrg);
	}
}

.content-highlight > .content-highlight-title {
	text-align: center;
	color: @white;
	#text-shadow > .black;
	@media screen and (min-width: 49em) {
		text-align: left;
	}
}

.content-highlight > .content-highlight-content {
	color: @gray-lht;
} 

.content-highlight > .btn {
	margin: 0 auto @xl;
	text-align: center;
}




/* 04 - state
--------------------------------------------------  */
.is-hidden {
	display: none;
}

.is-visible {
	display: block;
}


/* 05 - theme
--------------------------------------------------  */
.white {
	background: @white;	
}

.gray-lhtest {
	background: @gray-lhtest;
}



/* main-content styles
--------------------------------------------------  */
#main-content {
	#grid-container > .column(block, 12, @2xl, @page-gutter);
	background: @gray-lhtest;
	.clearfix;
}

/* homepage main-content buckets
--------------------------------------------------  */
#facebook-feed,
#hours-homepage,
#contact-homepage {
	width: 33.332%;
	color: @gray-drk;
	h2 {
		font-size: @lrg;
		color: @gray-drker;
		margin-bottom: @sml;
		#text-shadow > .white;
	}
	h4 {
		margin-bottom: (@1px*4);
	}
}

#feed {
	height: 10em; // for development purposes only
	background: @gray;
}

#contact-homepage {
	p {
		font-size: @sml;
		color: @gray-lht;
	}
}

#hours-homepage {
	float: right;
}

#contact-homepage li,
#hours-homepage li {
	margin: 0 @med @sml 0; 
}

#facebook-feed {
	#box-shadow > .inset-black(0, 0, @med, 0.3);
	margin: @lrg 0;
	background: lighten(@gray-lht, 16%);

	h2 {
		color: @white;
		#text-shadow > .black;
	}

	.feed {
		p { margin: 0 0 @sml; }
		span { color: @gray-lhtest; }
		li { 
			padding: @sml 0;
			&:first-child { border-bottom: 1px solid @gray-lhtest; }
		}
	}
}

.bucket-body-labels {
	float: left;
	color: @gray-lht;
}

/* footer styles
--------------------------------------------------  */
footer {
	padding: @xl @page-gutter;

	.join-email {
		float: left;
		width: 16.665%;
	}

	.footer-bucket {
		#grid-container > .column(float, 2, @lrg, @lrg);
	}

	h4 {
		margin: 0 0 @1px*4 0;
		color: @gray;
	}

	nav {
		float: none;
		margin: 0;
	}

	a,
	a:visited {
		float: none;
		display: block;
		margin: 0 0 @1px*4 0;
		color: @gray-lht;
		text-decoration: none;
		border: none;
		&:hover,
		&:active {
			border: none;
		}
		&:first-child {
			margin: 0 0 @1px*4 0;
		}
	}

	.join-email {
		width: 33.332%;
	}
}





/*	480px	(480/16=30)		@media screen and (min-width: 30em)		*/
/*	600px	(600/16=37.5)	@media screen and (min-width: 37.5em)	*/
/*	784px	(784/16=49)		@media screen and (min-width: 49em)		*/
/*	900px	(900/16=56.25)	@media screen and (min-width: 56.25em)	*/
/*	1024px	(1024/16=64)	@media screen and (min-width: 64em)		*/
/*	1280px	(1280/16=80)	@media screen and (min-width: 80em)		*/
/*	1408px	(1408/16=88)	@media screen and (min-width: 88em)		*/
/*	1600px	(1600/16=100)	@media screen and (min-width: 100em)	*/
/*	2080px	(2080/16=130)	@media screen and (min-width: 130em)	*/








